body {
    color:var(--text-color);
    font-size:16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: rgb(228,26,141);
    background: linear-gradient(140deg, rgba(228,26,141,1) 0%, rgba(0,72,186,1) 100%) fixed;
}
a {
    color: var(--accent);
}
a:hover, em {font-style: italic; color:var(--link-hover);}
in {
    display: block;
}
main {
    max-width:786px;
    margin:0 auto;
    margin-top:10px;
    max-height: 90%;
    min-width: 400px;
}

h1{
    font-weight: normal;
    margin:0px;
    font-size:60px;
    color:var(--accent);
    font-family: enchantedland;
    text-align: center;
    text-shadow: 
    1px 1px 0 black,
    -1px -1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    2px 0px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black,
    0px 2px 0 black;
    
}
h2 {
    
    font-weight: normal;
    margin:0px;
    font-size:35px;
    letter-spacing: 2px;
    color:var(--accent);
    text-align: center;
    font-family: enchantedland;
}

h2 a{
    text-shadow: 
    1px 1px 0 black,
    -1px -1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    1px 0px 0 black,
    -1px 0px 0 black,
    0px -1px 0 black,
    0px 1px 0 black;
}
h3 {
    
    font-weight: normal;
    margin:0px;
    color:var(--accent);
    text-align: center;
}

linea {
    background: linear-gradient(to right, transparent, var(--accent) 50%, transparent);
    height:1px;
    width:100%;
    display: block;
    opacity:50%;
    margin: 1px;
    position: relative;
    z-index: 1;
}

.member {
    padding:10px;
    border-radius: 4px;
    text-align:center;
}

.outerlace {
    border-image: var(--black-lace);
    border-image-slice: 16;
    border-image-repeat: repeat;
    border-width: 16px;
    border-style: solid;
    background-color: var(--inner-color); 
    border-image-outset: 16px;
    margin: 16px;
    margin-bottom: 42px;
}
.innerlace {
    background:var(--inner-lace-color);
    border-image: var(--lace) 6 fill repeat;
    border-width: 6px;
    border-style: solid;
    border-image-outset: 1px;
    border-radius: 4px;
    margin: -11px;
    text-align:center;
}


.memberscroll {
    max-height: 570px;
    overflow:auto;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--scrollbar-bg);
    padding: 5px;
    border-bottom:1px solid var(--accent);
}


.mem {
    flex-grow: 1;
    background:#151515;
    border-radius: 4px;
    text-align:center;
    margin-bottom:6px;
}
.mem td {
    padding: 1px 4px;
    padding-top:5px;
    line-height: 16px;
    margin:0px;
    height:30px;
}
.mem table {
    border:1px inset var(--accent);
    border-radius: 5px;
}
.mem td {
    border-left:1px solid  var(--accent);
}
.mem td:first-of-type {
    border-left:0px;
}
.mem td:nth-child(4) {
    border-bottom:0px;
}

.membernames {
    padding-left: 10px;
}

.tb {
    border-top:1px solid var(--accent);
}
.info{
    width:390px;
    height:90px;
    max-width:98%;
    max-height:200px;
}

#bisexualism .webring-prev, .webring-next {
    line-height:10px;
    text-shadow: 
    1px 1px 0 black,
    -1px -1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    1px 0px 0 black,
    -1px 0px 0 black,
    0px -1px 0 black,
    0px 1px 0 black;
    }
#bisexualism .webring-info {
    font-size: 30px;
    font-weight: normal;
    color:var(--accent);
    margin:5px 0px;
    letter-spacing:1px;
    font-family: enchantedland;
    text-transform:lowercase;
    text-shadow: 
    1px 1px 0 black,
    -1px -1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    1px 0px 0 black,
    -1px 0px 0 black,
    0px -1px 0 black,
    0px 1px 0 black;
}
